@model TPS.Models.StaffingRequest
@using TPS.Models

@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found: ", new { @class = "alert alert-danger" })

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.RequestNumber, new { @class = "control-label" }):
                @Html.DisplayFor(m => m.RequestNumber, new { @class = "control-label" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ID, new { @class = "control-label" }):
                @Html.DisplayFor(m => m.ID, new { @class = "control-label" })
            </div>

            <div class="form-group">
                <label>Staff Members:</label>
                @foreach (var item in Model.StaffMembers)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="StaffMembers"
                                   value="@item.Name" /> @item.Name
                        </label>
                    </div>
                 }
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ContractManager, new { @class = "control-label" }):
                @Html.TextBoxFor(m => m.ContractManager, new { @class = "control-form" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Location, new { @class = "control-label" }):
                @Html.DropDownListFor(m => m.Location, (SelectList)ViewBag.LocationsSelectListItems, "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TypeOfWork, new { @class = "control-label" }):
                @Html.TextBoxFor(m => m.TypeOfWork, new { @class = "control-form" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Salary, new { @class = "control-label" }):
                @Html.TextBoxFor(m => m.Salary, new { @class = "control-form" })
            </div>

            <div class="col-md-12">
                <div class="pad-top">
                    <a href="@Url.Action("Delete")" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-warning-sign"></span> Delete
                    </a>
                    <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </a>
                    <button type="submit" class="btn btn-success btn-lg margin-right">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </div>

        </div>
        
    </div>
}