@model TPS.Models.UserLogin

@{
    ViewBag.Title = "Delete User";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    Are you sure you want to delete the following entry?
</div>

<div class="row">
    <div class="col-lg-6">

        <div class="row">
            <div class="col-xs-8 col-sm-9">
                @Html.LabelFor(m => m.UserName): @Html.Label(@Model.UserName)
            </div>
        </div>



        @using (Html.BeginForm())
        {
            <div class="pad-top">
                <button type="submit" class="btn btn-danger btn-lg margin-right">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        }

    </div>

</div>
