@model List<TPS.Models.UserLogin>

@{
    ViewBag.Title = "View Users";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="container">

    <div class="pull-right">
        <a href="@Url.Action("Add")" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs">New User</span>
        </a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {               
                <tr>
                    <td>@item.UserName</td>
                    <td>
                        <a href="@Url.Action("Edit", new { username = item.UserName })" class="btn btn-warning btn-sm margin-right">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                        </a>

                        <a href="@Url.Action("Delete", new { username = item.UserName })" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="pull-right">
        <a href="@Url.Action("Add")" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs"> New User</span>
        </a>
    </div>

</div>
